<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Aseel Elevators</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">

    <!--Google Font link-->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


    <link rel="stylesheet" href="assets/css/slick/slick.css">
    <link rel="stylesheet" href="assets/css/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/iconfont.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootsnav.css">

    <!-- xsslider slider css -->


    <!--<link rel="stylesheet" href="assets/css/xsslider.css">-->




    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


    <div class="culmn">
        <!--Home page style-->



        <!--Home Sections-->

        <section id="home" class="home bg-black fix">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="main_home text-center">
                        <div class="col-md-12">
                            <div class="hello_slid">
                                <div class="slid_item">
                                    <div class="home_text ">
                                        <h2 class="text-white">Welcome to <strong>Aseel Elevators</strong></h2>
                                        <h1 class="text-white">We Do Business All Of Time</h1>
                                        <h3 class="text-white">- We Create a <strong>Concept</strong> into The Market -
                                        </h3>
                                    </div>

                                    <div class="home_btns m-top-40">
                                        <a href="#contact" class="btn btn-primary m-top-20">Contact us Now</a>
                                        <a href="#business" class="btn btn-default m-top-20">Take a Tour</a>
                                    </div>
                                </div><!-- End off slid item -->
                                <div class="slid_item">
                                    <div class="home_text ">
                                        <h2 class="text-white">All type of services are <strong>Available</strong></h2>
                                        <h1 class="text-white">We support all kind of Elevators</h1>
                                        <h3 class="text-white"> We provide <strong>Quality</strong></h3>
                                    </div>

                                    <div class="home_btns m-top-40">
                                        <a href="#contact" class="btn btn-primary m-top-20">Contact us Now</a>
                                        <a href="#product" class="btn btn-default m-top-20">Check Products</a>
                                    </div>
                                </div><!-- End off slid item -->
                                <div class="slid_item">
                                    <div class="home_text ">
                                        <h2 class="text-white">With <strong>Aseel</strong></h2>
                                        <h1 class="text-white">Maintenance and After-Sales Service</h1>
                                        <h3 class="text-white"> Aseel will Always be your <strong>BEST</strong> choice -
                                        </h3>
                                    </div>

                                    <div class="home_btns m-top-40">
                                        <a href="#contact" class="btn btn-primary m-top-20">Contact Us Now</a>
                                        <a href="#business" class="btn btn-default m-top-20">Take a Tour</a>
                                    </div>
                                </div><!-- End off slid item -->
                            </div>
                        </div>

                    </div>


                </div>
                <!--End off row-->
            </div>
            <!--End off container -->
        </section>
        <!--End off Home Sections-->



        <!--Featured Section-->
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="main_features fix roomy-70">
                        <div class="col-md-4">
                            <div class="features_item sm-m-top-30">
                                <div class="f_item_icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <div class="f_item_text">
                                    <h3>Best Quality Providers</h3>
                                    <p>Aseel Elevators comes in
                                        the Best Quality .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="features_item sm-m-top-30">
                                <div class="f_item_icon">
                                    <i class="fa fa-tablet"></i>
                                </div>
                                <div class="f_item_text">
                                    <h3>Easy to reach</h3>
                                    <p>Just Contact us through our website
                                        or Contact information provided
                                        and let everything else to us!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="features_item sm-m-top-30">
                                <div class="f_item_icon">
                                    <i class="fa fa-sliders"></i>
                                </div>
                                <div class="f_item_text">
                                    <h3>Varity of Designs</h3>
                                    <p>Aseel Elevators offer many diffrent designs
                                        classic, modern.. whatever the customer want!.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section><!-- End off Featured Section-->


        <!--Business Section-->
        <section id="business" class="business bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_business">
                        <div class="col-md-6">
                            <div class="business_slid">
                                <div class="slid_shap bg-grey"></div>
                                <div class="business_items text-center">
                                    <div class="business_item">
                                        <div class="business_img">
                                            <img src="assets/images/elvitem1.jpg" alt="" />
                                        </div>
                                    </div>

                                    <div class="business_item">
                                        <div class="business_img">
                                            <img src="assets/images/elvitem2.jpg" alt="" />
                                        </div>
                                    </div>

                                    <div class="business_item">
                                        <div class="business_img">
                                            <img src="assets/images/AseelLogo.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="business_item sm-m-top-50">
                                <h2 class="text-uppercase"><strong>Aseel</strong> for Elevators Services</h2>
                                <ul>
                                    <li><i class="fa fa-arrow-circle-right"></i> Manufacture And Installation </li>
                                    <li><i class="fa  fa-arrow-circle-right"></i> Maintenance</li>
                                    <li><i class="fa  fa-arrow-circle-right"></i> Update</li>
                                </ul>
                                <p class="m-top-20"><strong>Aseel Elevattors</strong> offers several services
                                    to meet the needs of all its customers
                                    at the level of individuals and companies..</p>

                                <div class="business_btn">
                                    <a href="https://bootstrapthemes.co" class="btn btn-default m-top-20">Read More</a>
                                    <a href="" class="btn btn-primary m-top-20">Buy Now</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End off Business section -->


        <!--product section-->
        <section id="product" class="product">
            <div class="container">
                <div class="main_product roomy-80">
                    <div class="head_title text-center fix">
                        <h2 class="text-uppercase">Our Products</h2>
                        <h5>Clean and Modern design is our best specialist</h5>
                    </div>

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/SparParts.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/SparParts.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Spare Parts</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Doors.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Doors.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Doors Design</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Cabines.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Cabines.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Cabines Design</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Keys.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Keys.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Keys Design</h5>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Roofs.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Roofs.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Roofs</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Grounds.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Grounds.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Grounds</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Control.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Control.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Control Board</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Cabines2.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Cabines2.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Cabines</h5>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Traction.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Traction.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Traction Machines</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Cabines3.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Cabines3.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Cabines Design</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/DoorMachines.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/DoorMachines.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Door Machines</h5>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="port_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="assets/images/Grounds.png" alt="" />
                                                    <div class="port_overlay text-center">
                                                        <a href="assets/images/Grounds.png" class="popup-img">+</a>
                                                    </div>
                                                </div>
                                                <div class="port_caption m-top-20">
                                                    <h5>Grounds Design</h5>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                            data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                            data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section><!-- End off Product section -->



        <!--Test section-->
        <section id="test" class="test bg-grey roomy-60 fix">
            <div class="container">
                <div class="row">
                    <div class="main_test fix">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="head_title text-center fix">
                                <h2 class="text-uppercase">What Client Say</h2>
                                <h5>Clean and Modern design is our best specialist</h5>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="test_item fix">
                                <div class="item_img">
                                    <img class="img-circle" src="assets/images/test-img1.jpg" alt="" />
                                    <i class="fa fa-quote-left"></i>
                                </div>

                                <div class="item_text">
                                    <h5>Client1</h5>
                                    <h6>test.com</h6>

                                    <p>Feedback from client one
                                        will be listed here.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="test_item fix sm-m-top-30">
                                <div class="item_img">
                                    <img class="img-circle" src="assets/images/test-img2.jpg" alt="" />
                                    <i class="fa fa-quote-left"></i>
                                </div>

                                <div class="item_text">
                                    <h5>Client2</h5>
                                    <h6>test2.com</h6>

                                    <p>Feedback from client two
                                        will be listed here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End off test section -->







    </div>

    <!-- JS includes -->

    <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="assets/css/slick/slick.js"></script>
    <script src="assets/css/slick/slick.min.js"></script>
    <script src="assets/js/jquery.collapse.js"></script>
    <script src="assets/js/bootsnav.js"></script>



    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>